body {
background: url("https://yeimarv.github.io/com14/img/i3f.jpg") no-repeat center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#button li {
    display: inline;
    }

