body {


background-color: skyblue;
font-family: Georgia;
padding-left: 40px;
padding-right: 40px;

}

.t1 {
padding-left: 10%;
padding-right: 10%;

}

#button li {
    display: inline;
    }

